@model IEnumerable<EarlySummer.BusinessModules.DataAccess.Entity.Work>

@{
    ViewBag.Title = "统计";
}

<h2>统计</h2>

<p>
    @Html.ActionLink("新建", "Edit")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationTime)
        </th>
        <th>操作</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkName)
            </td>
            <td>
                @item.CreationTime.ToString("yyyy-MM-dd HH:mm:ss")
            </td>
            <td>
                @Html.ActionLink("编辑", "Edit", new { id=item.WorkId }) |
                <a href="javascript:void(0)" onclick="Count('@item.WorkId')">统计</a>
            </td>
        </tr>
    }

</table>
<script>
    function Count(workId) {
        $.ajax({
            url: "/Work/Count",
            type: "POST",
            data: { id: workId },
            dataType: "json",
            success: function (result) {
                alert(result);
            }
        });
    }
</script>
